<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3PtvOzy_C2Hd2eZ5cUqENx_9ES6gc71o</string>
	<key>GCM_SENDER_ID</key>
	<string>358802374234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frinfoOnline.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>frinfoonline</string>
	<key>STORAGE_BUCKET</key>
	<string>frinfoonline.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358802374234:ios:3f6f612c3f44987def2263</string>
</dict>
</plist>